.eventcontrol {
    /*background: #eee; */
    color: #444;
    background: #e3e3e3;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.eventcontrol .ec-items {
    background: #fafafa;
    /* height is 113 for the navigable region, + 31 for the markers region.*/
    height:150px;
    /*border-radius: 3px;*/
}

.eventcontrol.labels-top .ec-items {
    background: #fafafa;
    /* height is 113 for the navigable region, + 31 for the markers region.*/
    height:180px;
    /*border-radius: 3px;*/
}


.eventcontrol .ec-markers {
    border-top: 1px solid #fff;
    height:30px;
}

.eventcontrol.labels-top .ec-markers {
    border-top: 0;
    border-bottom: 1px solid #fff;
    height:30px;
    top:0px;
    width:100%;
    background:#e3e3e3;
    position:absolute;
}

.eventcontrol .ec-dot {
    position: absolute;
    padding: 0;
    width: 0px;
    height: 0px;
    top:0px;
    margin:2px;
    border: 7px solid;
    border-radius: 4px;
    cursor:pointer;
    background: #fff;
    z-index: 1;
}

.eventcontrol.labels-top .ec-dot {
    top:30px;
}

.eventcontrol .ec-markers .ec-ticks {
}

.eventcontrol .ec-markers .ec-ticks .ec-tick {
    position: absolute;
    width: 0px;
    border-left: 1px solid #ececec;
    top:0px;
    height:150px;
}
.eventcontrol .ec-markers .ec-ticks .ec-tick {
    height:180px;
}

.eventcontrol .ec-markers .ec-labels {
}

.eventcontrol .ec-label {
    position: absolute;
    top:150px;
    padding: 0;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    color: #777;
}
.eventcontrol.labels-top .ec-label {
    top:15px;
}

.eventcontrol .ec-region-label {
    position: absolute;
    top:165px;
    padding: 0;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    color: #999;
}

.eventcontrol.labels-top .ec-region-label {
    top:0px;
}

.eventcontrol .ec-draggable {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}

.eventcontrol .ec-dragging {
  cursor:grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}

/**** switch the items look like dialogs if preferred
*/

.eventcontrol.dialogs .ec-dot {
    width: auto;
    height:auto;
    display:inline-block;
    border:1px solid #666;
    position:absolute;
    border-bottom-left-radius: 0px;
}

.eventcontrol.dialogs .ec-dot:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -1px;
    top: 28px;
    border: 5px solid;
    border-color: #666 transparent transparent #666;
}

.eventcontrol.dialogs .ec-dot:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 28px;
    border: 4px solid;
    border-color: #fff transparent transparent #fff;
}
